{% extends "layout.html" %}

{% block body %}
  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-10 offset-lg-1">

      <!-- Title -->
      <h3 class="mt-4">{{article.title}}</h3>

      <!-- Author -->
      <p class="lead user-info">
        
        Автор статті <span class="author">{{article.author.username}}</span> 
      </p>

      <hr>



      <!-- Preview Image -->
      {% if article.article_image %}
        <div class="article-image" style="padding-top:10px; padding-bottom:10px;">
            <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
          <hr>
        </div>
      {% endif %}
     


      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe}}
      </p>

      <!-- Date/Time -->
      <p class="date">{{article.created_date}}</p>

      <hr>
      
      {% if request.user.is_authenticated %}
      <div class="card my-4 container">
          <h5 class="card-header">Додати коментар</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'article:comment' article.slug %}">
              {% csrf_token %}
              <div class="form-group">
                <textarea name = "comment_content" class="form-control" rows="3" placeholder="Текст коментару"></textarea>
              </div>
              <button type="submit" class="btn btn-danger my-3">Додати коментар</button>
            </form>
          </div>
      </div>

      {% else %}
        <p class="no-comments">
          Коментарі можуть залишати лише авторизовані користувачі
        </p>
      {% endif %}

      <hr>

      {% if comments %}
      <div class="col-lg-12">
        <h4>Кількість коментарів {% if comments %}({{comments.count }}){% endif %}</h4>
        <hr>
        {% for comment in comments  %}
        
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{ comment.comment_author}}</h5>
            <p class="date">{{comment.comment_date}}</p>
            {{comment.comment_content}}
          </div>
        </div>
        {% endfor %}
      
      
      {% else %}
        <div class ="alert alert-danger">
          До цієї статті немає коментарів, коментуйте першим!
        </div>
      </div>
      {% endif %}

      
        
  </div>

{% endblock body %}
